<a [routerLink]="['/movie', movie.ID]">
  <div class="card">
    <img class="card-img-top" [src]="movie.POSTER_URL" [alt]="movie.TITLE">
    <div class="card-body">
      <h4><b>{{movie.TITLE}}</b></h4>
      <p *ngIf="storyline">{{storyline}}...</p>
      <p *ngIf="character_name">{{character_name}}</p>
    </div>
    <div class="card-footer">
      <span *ngIf="comingSoon" class="badge badge-pill badge-info">Em breve</span>
      <span *ngIf="movie.DIAS_CARTAZ" class="badge badge-pill badge-success">Em cartaz há {{movie.DIAS_CARTAZ}}
        dias</span>
    </div>
  </div>
</a>