<br />
<div class="row">
  <div class="col-md-12">
    <div class="card shadow p-3 mb-5 rounded">
      <div class="card-body">
        <h4><b>4.9 <i class="fa fa-star rating-star"></i></b></h4>
        <p class="card-text text-review">
          Aladdin truly is magical. Aladdin has a long and illustrious legacy. As usual, the plot of beggar Aladdin and
          Princess Jasmine fighting for their love is incredible. This movie was great !! It has
          comedy,action,romance,adventure and everything else including in all genres of all movie. The acting from
          everyone was great. Good acting performance by Will Smith a.k.a Genie, Mena Massoud a.k.a Aladdin & Naomi
          Scott a.k.a Jasmine. For all of you, go see it you wont regret it !! Absolute musical perfection.
        </p>
        <p class="date-user">
          25/10/2019 &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; hppod
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="card shadow p-3 mb-5 rounded">
      <div class="card-body">
        <h4><b>4.9 <i class="fa fa-star rating-star"></i></b></h4>
        <p class="card-text text-review">
          Aladdin truly is magical. Aladdin has a long and illustrious legacy. As usual, the plot of beggar Aladdin and
          Princess Jasmine fighting for their love is incredible. This movie was great !! It has
          comedy,action,romance,adventure and everything else including in all genres of all movie. The acting from
          everyone was great. Good acting performance by Will Smith a.k.a Genie, Mena Massoud a.k.a Aladdin & Naomi
          Scott a.k.a Jasmine. For all of you, go see it you wont regret it !! Absolute musical perfection.
        </p>
        <p class="date-user">
          25/10/2019 &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; hppod
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="card shadow p-3 mb-5 rounded">
      <div class="card-body">
        <h4><b>4.9 <i class="fa fa-star rating-star"></i></b></h4>
        <p class="card-text text-review">
          Aladdin truly is magical. Aladdin has a long and illustrious legacy. As usual, the plot of beggar Aladdin and
          Princess Jasmine fighting for their love is incredible. This movie was great !! It has
          comedy,action,romance,adventure and everything else including in all genres of all movie. The acting from
          everyone was great. Good acting performance by Will Smith a.k.a Genie, Mena Massoud a.k.a Aladdin & Naomi
          Scott a.k.a Jasmine. For all of you, go see it you wont regret it !! Absolute musical perfection.
        </p>
        <p class="date-user">
          25/10/2019 &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; hppod
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="card shadow p-3 mb-5 rounded">
      <div class="card-body">
        <h4><b>4.9 <i class="fa fa-star rating-star"></i></b></h4>
        <p class="card-text text-review">
          Aladdin truly is magical. Aladdin has a long and illustrious legacy. As usual, the plot of beggar Aladdin and
          Princess Jasmine fighting for their love is incredible. This movie was great !! It has
          comedy,action,romance,adventure and everything else including in all genres of all movie. The acting from
          everyone was great. Good acting performance by Will Smith a.k.a Genie, Mena Massoud a.k.a Aladdin & Naomi
          Scott a.k.a Jasmine. For all of you, go see it you wont regret it !! Absolute musical perfection.
        </p>
        <p class="date-user">
          25/10/2019 &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; hppod
        </p>
      </div>
    </div>
  </div>
</div>