<br />
<div class="row">
  <div class="col-md-3">
    <div class="card shadow p-3 mb-5 rounded">
      <img src="https://filmow-app.s3-sa-east-1.amazonaws.com/posters/it-2.jpg" class="card-img-top " alt="...">
      <div class="card-body">
        <h4><b>Bill Skasgard</b></h4>
        <p class="card-text">19/05/1970</p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card shadow p-3 mb-5 rounded">
      <img src="https://filmow-app.s3-sa-east-1.amazonaws.com/posters/it-2.jpg" class="card-img-top " alt="...">
      <div class="card-body">
        <h4><b>Bill Skasgard</b></h4>
        <p class="card-text">19/05/1970</p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card shadow p-3 mb-5 rounded">
      <img src="https://filmow-app.s3-sa-east-1.amazonaws.com/posters/it-2.jpg" class="card-img-top " alt="...">
      <div class="card-body">
        <h4><b>Bill Skasgard</b></h4>
        <p class="card-text">19/05/1970</p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card shadow p-3 mb-5 rounded">
      <img src="https://filmow-app.s3-sa-east-1.amazonaws.com/posters/it-2.jpg" class="card-img-top " alt="...">
      <div class="card-body">
        <h4><b>Bill Skasgard</b></h4>
        <p class="card-text">19/05/1970</p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card shadow p-3 mb-5 rounded">
      <img src="https://filmow-app.s3-sa-east-1.amazonaws.com/posters/it-2.jpg" class="card-img-top " alt="...">
      <div class="card-body">
        <h4><b>Bill Skasgard</b></h4>
        <p class="card-text">19/05/1970</p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card shadow p-3 mb-5 rounded">
      <img src="https://filmow-app.s3-sa-east-1.amazonaws.com/posters/it-2.jpg" class="card-img-top " alt="...">
      <div class="card-body">
        <h4><b>Bill Skasgard</b></h4>
        <p class="card-text">19/05/1970</p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card shadow p-3 mb-5 rounded">
      <img src="https://filmow-app.s3-sa-east-1.amazonaws.com/posters/it-2.jpg" class="card-img-top " alt="...">
      <div class="card-body">
        <h4><b>Bill Skasgard</b></h4>
        <p class="card-text">19/05/1970</p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card shadow p-3 mb-5 rounded">
      <img src="https://filmow-app.s3-sa-east-1.amazonaws.com/posters/it-2.jpg" class="card-img-top " alt="...">
      <div class="card-body">
        <h4><b>Bill Skasgard</b></h4>
        <p class="card-text">19/05/1970</p>
      </div>
    </div>
  </div>
</div>