<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <a href="https://www.google.com">
          <div class="card">
            <img class="card-img-top" src="https://filmow-app.s3-sa-east-1.amazonaws.com/posters/it-2.jpg"
              alt="Poster It Chapter 2">
            <div class="card-body">
              <h4><b>It Chapter Two</b></h4>
              <p>27 anos depois dos eventos de It - Parte 1, o grupo de adolescentes que fazia parte do Losers
                Club - o clube dos perdedores - realiza uma reunião.</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3">
        <a href="https://www.google.com">
          <div class="card">
            <img class="card-img-top" src="https://filmow-app.s3-sa-east-1.amazonaws.com/posters/it-2.jpg"
              alt="Poster It Chapter 2">
            <div class="card-body">
              <h4><b>It Chapter Two</b></h4>
              <p>27 anos depois dos eventos de It - Parte 1, o grupo de adolescentes que fazia parte do Losers
                Club - o clube dos perdedores - realiza uma reunião.</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3">
        <a href="https://www.google.com">
          <div class="card">
            <img class="card-img-top" src="https://filmow-app.s3-sa-east-1.amazonaws.com/posters/it-2.jpg"
              alt="Poster It Chapter 2">
            <div class="card-body">
              <h4><b>It Chapter Two</b></h4>
              <p>27 anos depois dos eventos de It - Parte 1, o grupo de adolescentes que fazia parte do Losers
                Club - o clube dos perdedores - realiza uma reunião.</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3">
        <a href="https://www.google.com">
          <div class="card">
            <img class="card-img-top" src="https://filmow-app.s3-sa-east-1.amazonaws.com/posters/it-2.jpg"
              alt="Poster It Chapter 2">
            <div class="card-body">
              <h4><b>It Chapter Two</b></h4>
              <p>27 anos depois dos eventos de It - Parte 1, o grupo de adolescentes que fazia parte do Losers
                Club - o clube dos perdedores - realiza uma reunião.</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3">
        <a href="https://www.google.com">
          <div class="card">
            <img class="card-img-top" src="https://filmow-app.s3-sa-east-1.amazonaws.com/posters/it-2.jpg"
              alt="Poster It Chapter 2">
            <div class="card-body">
              <h4><b>It Chapter Two</b></h4>
              <p>27 anos depois dos eventos de It - Parte 1, o grupo de adolescentes que fazia parte do Losers
                Club - o clube dos perdedores - realiza uma reunião.</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3">
        <a href="https://www.google.com">
          <div class="card">
            <img class="card-img-top" src="https://filmow-app.s3-sa-east-1.amazonaws.com/posters/it-2.jpg"
              alt="Poster It Chapter 2">
            <div class="card-body">
              <h4><b>It Chapter Two</b></h4>
              <p>27 anos depois dos eventos de It - Parte 1, o grupo de adolescentes que fazia parte do Losers
                Club - o clube dos perdedores - realiza uma reunião.</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3">
        <a href="https://www.google.com">
          <div class="card">
            <img class="card-img-top" src="https://filmow-app.s3-sa-east-1.amazonaws.com/posters/it-2.jpg"
              alt="Poster It Chapter 2">
            <div class="card-body">
              <h4><b>It Chapter Two</b></h4>
              <p>27 anos depois dos eventos de It - Parte 1, o grupo de adolescentes que fazia parte do Losers
                Club - o clube dos perdedores - realiza uma reunião.</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3">
        <a href="https://www.google.com">
          <div class="card">
            <img class="card-img-top" src="https://filmow-app.s3-sa-east-1.amazonaws.com/posters/it-2.jpg"
              alt="Poster It Chapter 2">
            <div class="card-body">
              <h4><b>It Chapter Two</b></h4>
              <p>27 anos depois dos eventos de It - Parte 1, o grupo de adolescentes que fazia parte do Losers
                Club - o clube dos perdedores - realiza uma reunião.</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>