<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <div class="dropdown">
          <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="orderby" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Ordenar
          </button>
          <div class="dropdown-menu" aria-labelledby="orderby">
            <a *ngFor="let option of options" class="dropdown-item" (click)="setOrder(option)">{{option.OPTION}}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="count; else notData">
      <div *ngFor="let actor of actors" class="col-md-3">
        <app-card-actor [actor]="actor"></app-card-actor>
      </div>
    </div>
    <ng-template #notData>
      <div class="card col-md-12 no-data">
        <div class="text-no-data">
          <img class="margin-img" style="max-height: 150px"
            src="https://filmow-app.s3-sa-east-1.amazonaws.com/sad-popcorn-pb.jpg">
        </div>
        <h3 class="text-no-data">Não há nada para ser exibido aqui :(</h3>
      </div>
    </ng-template>
    <app-pagination [numberOfPages]="numberOfPages" (next)="next()" (back)="back()" (currentPage)="currentPage()">
    </app-pagination>

  </div>
</div>