<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h2 class="card-title">Bem vindo ao Filmow!</h2>
          </div>
          <div class="card-body">
            <h4> O lugar onde você vai ficar sabendo as principais informações sobre seus filmes favoritos!</h4>
            <h4>Além de poder compartilhar a sua opinião sobre aquele lançamento com seus companheiros de telona!</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>