<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h2 class="card-title">Bem vindo ao Filmow!</h2>
          </div>
          <div class="card-body">
            <h4> O lugar onde você vai ficar sabendo as principais informações sobre seus filmes favoritos!</h4>
            <h4>Além de poder compartilhar a sua opinião sobre aquele lançamento com seus companheiros de telona!</h4>
          </div>
        </div>
      </div>
    </div>
    <br/>
    <hr>
    <h5>Em cartaz</h5>
    <div class="row">
      <div *ngFor="let movie of inTheatersMovies" class="col-md-3">
        <app-card-movie [movie]="movie" [date_premiere]="movie.DATE_PREMIERE"></app-card-movie>
      </div>
    </div>
    <br />
    <hr>
    <h5>Em breve nos próximos 6 meses</h5>
    <div class="row">
      <div *ngFor="let movie of comingSoonMovies" class="col-md-3">
        <app-card-movie [movie]="movie" [date_premiere]="movie.DATE_PREMIERE"></app-card-movie>
      </div>
    </div>
  </div>
</div>
