<div class="main-content">
  <div class="container-fluid">
    <div class="card movie-detail-card shadow p-3 mb-5 rounded">
      <div class="card-body">
        <div class="row">
          <div class="col-md-8">
            <h2>It Chapter Two</h2>
            <h5><span class="badge badge-pill badge-info">Em breve</span></h5>
            <p><span class="badge badge-danger">16</span> &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; Terror
              &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
              1h40 &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; 05/09/2019</p>
          </div>
          <div class="col-md-4">
            <h2 class="rating-value">4.5 <span class="rating-star"><i class="fa fa-star"></i></span></h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <img class="materialboxed" width="236" height="350"
              src="https://filmow-app.s3-sa-east-1.amazonaws.com/posters/it-2.jpg" alt="It Chapter 2">
          </div>
          <div class="col-md-1">
          </div>
          <div class="col-md-6">
            <iframe width="725" height="350" src="https://filmow-app.s3-sa-east-1.amazonaws.com/trailers/it-2.mp4"
              frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-md-12">
            <ul class="nav nav-pills nav-justified">
              <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLink]="['storyline']">Sinopse</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLink]="['actors']">Atores</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLink]="['reviews']">Avaliações</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>