<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <h2>It Chapter Two</h2>
        <p>Terror &nbsp;&nbsp;|&nbsp;&nbsp; 05/09/2019</p> 
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <img class="materialboxed" width="236" height="350"
          src="https://filmow-app.s3-sa-east-1.amazonaws.com/posters/it-2.jpg" alt="It Chapter 2">
      </div>
      <div class="col-sm-1">

      </div>
      <div class="col-xs-6">
        <iframe width="787" height="350" src="https://filmow-app.s3-sa-east-1.amazonaws.com/trailers/it-2.mp4"
          frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>