<div class="main-content">
  <div class="container-fluid">
    <div class="card movie-detail-card shadow p-3 mb-5 rounded">
      <div class="card-body">
        <div class="row">
          <div class="col-md-10">
            <h2>It Chapter Two</h2>
            <h5><span class="badge badge-pill badge-info">Em breve</span></h5>
            <p><span class="badge badge-danger">16</span> &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; Terror
              &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
              1h40 &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; 05/09/2019</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <img class="materialboxed" width="236" height="350"
              src="https://filmow-app.s3-sa-east-1.amazonaws.com/posters/it-2.jpg" alt="It Chapter 2">
          </div>
          <div class="col-md-1">
          </div>
          <div class="col-md-6">
            <iframe width="725" height="350" src="https://filmow-app.s3-sa-east-1.amazonaws.com/trailers/it-2.mp4"
              frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-md-12">
            <h3>Sinopse</h3>
            <p class="sinopse">27 anos depois dos eventos de It - Parte 1, o grupo de adolescentes que fazia parte do Losers Club - o
              clube dos perdedores - realiza uma reunião. No entanto, o que parece ser apenas um reencontro de velhos
              amigos acaba se tornando em uma verdadeira e sangrenta batalha quando Pennywise (Bill Skarsgard), o
              palhaço retorna.</p>
              <br/>
              <h5><strong>Diretores:</strong> &nbsp; Reinaldo Amarelo, Marcelo Vermelho</h5>
              <h5><strong>Escritores:</strong> &nbsp; Bruno Azul, André Verde</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>