<div class="main-content">
  <div class="container-fluid">
    <div class="col-md-6">
      <div class="card shadow p-3 mb-5 rounded">

        <div class="card-body">
          <div class="row">
            <div class="col-md-12" style="text-align: center">
              <h2>Registrar-se</h2>
            </div>
          </div>
          <form [formGroup]="registerForm" novalidate>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <app-input errorMessage="Campo obrigatório" label="Seu nome">
                    <input type="text" value="" placeholder="Nome" formControlName="NAME" class="form-control" />
                  </app-input>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <app-input errorMessage="Campo obrigatório" label="Usuário">
                    <input type="text" value="" placeholder="Usuário" formControlName="USERNAME" class="form-control" />
                  </app-input>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <app-input errorMessage="Campo obrigatório" label="Seu e-mail">
                    <input type="text" value="" placeholder="E-mail" formControlName="EMAIL" class="form-control" />
                  </app-input>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <app-input errorMessage="Campo obrigatório" label="Senha">
                    <input type="password" value="" placeholder="Senha" formControlName="PASS" class="form-control" />
                  </app-input>
                </div>
              </div>
            </div>
          </form>
          <br />
          <div class="row">
            <button class="btn btn-primary" (click)="doneRegister()"
              [disabled]="registerForm.invalid">Registrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>