<div class="main-content">
  <div class="container-fluid">
    <div class="col-md-6">
      <div class="card shadow p-3 mb-5 rounded">

        <div class="card-body">
          <div class="row">
            <div class="col-md-12" style="text-align: center">
              <h2>Registrar-se</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <input type="text" value="" placeholder="Nome" class="form-control" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <input type="text" value="" placeholder="Usuário" class="form-control" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <input type="text" value="" placeholder="E-mail" class="form-control" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <input type="password" value="" placeholder="Senha" class="form-control" />
              </div>
            </div>
          </div>
          <br />
          <div class="row">
            <button class="btn btn-primary">Registrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>